# Ignore the Pocketbase executable
pocketbase
# Ignore Pocketbase executable backups
pocketbase-backup-2024-08-02
# Ignore log files
*.log
# Ignore runtime data
pb_data

**/CLAUDE.local.md
pocketbase-backup-2025-03-16
